<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
		<ul th:replace="index2 :: sideBar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div  th:with="title='Project'">
					<nav th:replace="index2 :: topBar"></nav>
				</div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
<!--                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                     <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 mt-2 font-weight-bold text-secondary float-left">
                            프로젝트 리스트</h6>
                            <button class="btn float-right btn-primary" type="button" 
                            onclick="location.href='/project/create'">
                                <i class="fas fa-plus fa-sm"></i>
                                <span>프로젝트 등록</span>
                             </button>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
                                    <thead>
                                        <tr>
                                        	<th>코드</th>
                                            <th>프로젝트명</th>
                                            <th>상태</th>
                                            <th>유형</th>
                                            <th>시작일</th>
                                            <th>완료일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr th:each="project : ${projects}"   
                                    	th:onclick="'location.href = \'' + @{/project/wbs/{id}(id=${project.project_pk})} + '\''"
                                    	style="cursor:pointer;">
                                    		<td th:text="${project.project_pk}"></td>
											<td th:text="${project.project_nm}" 
											style="font-weight:bold;"
											class="text-primary"></td>
											<td th:text="${project.project_state_nm}"></td>
											<td th:text="${project.project_type}"></td>
											<td th:text="${#dates.format(project.project_start_dt,'yyyy-MM-dd')}"></td>
											<td th:text="${#dates.format(project.project_comp_dt,'yyyy-MM-dd')}"></td>
										</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="index2 :: footer"> </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <div th:replace="index2 :: etc"></div>
    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/project/datatables-demo.js"></script>


</body>

</html>