<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QPMS</title>

     <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="index2 :: sideBar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div  th:with="title='로그 관리'">
					<nav th:replace="index2 :: topBar"></nav>
				</div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <ul class="nav nav-tabs mt-1" id="myTabs">
					     <li class="nav-item"><a href="#tab1" data-url="/tab1" class="nav-link active">INFO</a></li>
					     <li class="nav-item"><a href="#tab2" data-url="/tab2" class="nav-link">ERROR</a></li>
					</ul>
                    <div class="tab-content pt-3">
					 <div class="tab-pane active" id="tab1">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">INFO logs</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center table_INFO" width="100%" cellspacing="0">
                                       	<col width="5%">
									   	<col width="10%">
									   	<col width="55%">
									   	<col width="20%">
									   	<col width="10%">
                                    
                                    <thead>
                                        <tr>
                                        	<th></th>
                                            <th>Timestamp</th>
                                            <th>Message</th>
                                            <th>thread_name</th>
                                            <th>event_id</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr th:each="info, index : ${LogList_INFO}">
	                                       <td th:text="${index.index}+1"></td>
	                                       <td th:text="${info.time}"></td>
	                                       <td th:text="${info.formatted_message}"></td>
	                                       <td th:text="${info.thread_name}"></td>
	                                       <td th:text="${info.event_id}"></td>
                                       </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    
					 <div class="tab-pane" id="tab2">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">ERROR Logs</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center table_ERROR" width="100%" cellspacing="0">
                                       	<col width="5%">
									   	<col width="10%">
									   	<col width="55%">
									   	<col width="20%">
									   	<col width="10%">
                                    
                                    <thead>
                                        <tr>
                                        	<th></th>
                                            <th>Timestamp</th>
                                            <th>Message</th>
                                            <th>thread_name</th>
                                            <th>event_id</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr th:each="info, index : ${LogList_ERROR}">
	                                       <td th:text="${index.index}+1"></td>
	                                       <td th:text="${info.time}"></td>
	                                       <td th:text="${info.formatted_message}"></td>
	                                       <td th:text="${info.thread_name}"></td>
	                                       <td th:text="${info.event_id}"></td>
                                       </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <div th:replace="index2 :: etc"></div>
    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
</body>

    
<Script>

$(document).ready(function() {
	  $('table.table_INFO').DataTable();
	  $('table.table_ERROR').DataTable();
	} );


$('#myTabs a').click(function (e) {
    e.preventDefault();

    var url = $(this).attr("data-url");
    var href = this.hash;
    var pane = $(this);

    // ajax load from data-url
    $(href).load(url, function (result) {
        pane.tab('show');
    });
});

// load first tab content
$('#tab1').load($('.nav-link.active').attr("data-url"), function (result) {
});




</Script>
<script type="text/javascript">
//Basic example
$(document).ready(function () {
  $('#dataTable').DataTable({
    "paging": false // false to disable pagination (or any other option)
  });
  $('.dataTables_length').addClass('bs-select');
});
</script>
</html>