<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index2 :: navi">
</head>
    <link th:href="@{/css/MyPage/Approval.css}" rel="stylesheet">
        <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<body id="page-top">


	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		<ul th:replace="index2 :: sideBar"></ul>
		<!-- End of Sidebar -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
			
                <!-- Topbar -->
                <div  th:with="title='MY 결재'">
					<nav th:replace="index2 :: topBar"></nav>
				</div>
                <!-- End of Topbar -->
				
				
                <!-- Begin Page Content -->
                <div class="container-fluid">
                	<!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">

                    </div>
                    <!-- Content Row -->

						<div class="tabs-container">
						       <ul class="nav nav-tabs" role="tablist">
						         <li><a class="nav-link" th:href="@{/approvalList}">My결재</a></li>
						         <li><a class="nav-link active" th:href="@{/approvalRequestList}">승인요청내역</a></li>
						         <li><a class="nav-link" th:href="@{/approvalReferList}">참조내역</a></li>
						       </ul>
						         
						    <div class="tab-content">   

				            <!-- Tab 3 Content -->
						            <div role="tabpanel" class="tab-pane active">
						                <div class="panel-body">
						                    <div class="card shadow mb-4">
						                        <div class = "card-body">
						                        <!-- main Content -->
<!-- 						                        	<div class="table-search">
						                        	<input class="form-control" id="writer" name="writer" placeholder="요청자"/>
						                        	<input class="form-control" id="title" name="title" placeholder="결재명"/>
					                                <br>
					                                <select class="form-control" id="task_category" name="task_category">
					                                    <option value="0">작업상태 선택</option>
					                                    <option value="1">승인중</option>
					                                    <option value="2">승인완료</option>
					                                    <option value="3">반려</option>
					                                </select>
 													<span class="badge badge">
 													<div class="input-group">
												           <div class="input-group-prepend">
												              <span class="input-group-text"><i class="fas fa-hourglass-start"></i></span>
												           </div>
											         	  	<input class="form-control" id="start_date" name="start_date" type="date" value="2021-10-01">
											            </div></span>
											        <span class="badge badge">
											        <div class="input-group">
											                <div class="input-group-prepend">
											                    <span class="input-group-text"><i class="fas fa-hourglass-end"></i></span>
											                </div>
											                <input class="form-control" id="end_date" name="end_date" type="date" value="2021-10-01">
											            </div></span>
													<button class="btn btn-primary" type="button"><i class="fas fa-search"></i> 검색</button>						                        
 -->										           	<!-- DataTales -->
							                                <table class="table" id="dataTable" width="100%" cellspacing="0">
							                                       	<col width="20%">
																   	<col width="10%">
																   	<col width="15%">
																   	<col width="10%">
																   	<col width="10%">
																   	<col width="15%">
																   	<col width="10%">
							                                    <thead  class="table table-bordered bg-gray-100" align="center">
							                                        <tr>
							                                            <th>결재명</th>
							                                            <th>결재종류</th>
							                                            <th>결재상태</th>
							                                            <th>결재자</th>
							                                            <th>요청자</th>
							                                            <th>결재요청일</th>
							                                            <th>결재회수요청</th>
							                                        </tr>
							                                    </thead>
								                                <tbody  class="table">
																	<tr th:each="approval : ${approvalList}" >
																		<td class="title"  th:text="${approval.task_nm}" th:task_pk="${approval.task_pk}"  
																			th:onclick="taskDetail(this.getAttribute('task_pk'))"></td>
																		<td align="center" th:text="${approval.task_type}"></td>
																		<td align="center" th:if="${approval.approval_status}=='0'">
																			<div class="btn btn-success" id="created"  th:text="승인대기"></div></td>
																		<td align="center" th:if="${approval.approval_status}=='1'">
																			<div class="btn btn-primary" id="successed" th:text="승인완료"></div></td>
																		<td align="center" th:if="${approval.approval_status}=='2'">
																			<div class="btn btn-secondary" id="modified" th:text="회수"></div></td>
																		<td align="center" th:if="${approval.approval_status}=='3'">
																			<div class="btn btn-warning" id="extended" th:text="반려"></div></td>
																		<td align="center" th:text="${approval.task_approver}"></td>
																		<td align="center" th:text="${approval.emp_name}"></td>
																		<td align="center"
																			th:text="${#dates.format(approval.approval_reg_dt,'yyyy-MM-dd HH:mm')}"></td>
																		<td class="title" th:task_pk="${approval.task_pk}" th:approval_status="${approval.approval_status}"
																			th:onclick="cancelRequest(this.getAttribute('task_pk'),this.getAttribute('approval_status'))">
																			<div class="btn btn-light" th:text="결재회수" style="width: 100px; height: 25px; padding: 1px;"></div>
																		</td>
																		
																	</tr>
															</tbody>
							                                </table>
								            <!-- End of Main Content -->
						                 	</div>
						                </div>
						            </div>
						     	</div>						         
				            <!-- End of Tab 3 Content -->				            
						</div>
                    </div>
				</div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
			<!-- Footer -->
			<footer th:replace="index2 :: footer"> </footer>
			<!-- End of Footer -->
		</div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <div th:replace="index2 :: etc"></div>
    
    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

    <h2 class="callModal" data-toggle="modal" data-target="#infoDetail"></h2>   
   	<!-- start of modal contents -->
   	
	<!-- modal contents -->
    <div class="modal fade" id="infoDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
						<div class="tabs-container">
						       <ul class="nav nav-tabs" role="tablist">
						         <li><a class="nav-link active" data-toggle="tab" href="#tab-1-1">테스크정보</a></li>
						         <li><a class="nav-link" data-toggle="tab" href="#tab-1-2">산출물</a></li>
						         <li><a class="nav-link" data-toggle="tab" href="#tab-1-3">히스토리</a></li>
						         <li><a class="nav-link" data-toggle="tab" href="#tab-1-4">결재내역</a></li> 
						       </ul>
						</div>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
				</div>
                <div class="modal-body"> 
					<div class="tab-content">
					
						<!-- Tab 1-1 Content -->

						<div role="tabpanel" id="tab-1-1" class="tab-pane active">
						   <div class="panel-body">
						       <div class="card shadow mb-4">
						           <div class = "card-body">
						           	  <form id ="frm_taskProgUpt" action="/taskProgressUpdate" method="post"> 
						           	  <input type="hidden" id="task_pk" name="task_pk"/>
									  <span class="text-gray-800" id="content_title">작업명　</span>
									  <span id="content_detail">
									  	<input class="form-control" id="task_nm" name="task_nm" placeholder="작업명"/>
									  </span>
									  <span class="text-gray-800" id="content_title">시작일　</span>
									  <span>
									  	<input class="form-control" id="start_dt" name="start_dt" type="date" value="2021-10-01">
									  </span>
									  <span class="text-gray-800" id="content_title">완료일</span>
									  <span>
									  	<input class="form-control" id="comp_dt" name="comp_dt" type="date" value="2021-10-01">
									  </span>
									  <span class="text-gray-800" id="content_title">완료율(%)</span>
									  <span id="content_detail" >
									  	<input type="number" style="font-size:10px;" class="form-control" id="task_progress" name="task_progress" placeholder="0"/>
									  </span>    
									  <span class="text-gray-800" id="content_title">승인자</span>
					                  <select class="form-control" id="task_approver" name="task_approver">
					                     <option value="0"></option>
					                  </select>
					                  <br>
					                  <span class="text-gray-800" id="content_title_3">내용　　</span>
									  <span id="content_detail_3">
									  	<textarea class="form-control" id="task_description" name="task_description" placeholder="세부내용"></textarea>
									  </span>
									  </form>
						           </div>
						       </div>
						    </div>
						 </div>
						 
						<!-- End of Tab 1-1 Content -->	   
						
						<!-- Tab 1-2 Content -->
						
						<div role="tabpanel" id="tab-1-2" class="tab-pane">
						   <div class="panel-body">
								<div class="card shadow mb-4" style="height: 320px; width:460px; padding:20px; font-size:15px;">
										<form id="product" enctype="multipart/form-data" action="${path}/insertProduct" method="post">
											<div class="input-group mb-3" id="file_space">
												<h5 class="modal-title" style="margin:5px; font-size:15px; color:black;" id="attach_nm"></h5>
											</div>
											<div id="product_input_group">
											<div id="product_category_space">
													<h1 class="text-gray-800" id="content_title" style="margin:2px;">산출물 카테고리</h1>
													<select class="form-control" id="product_category"
														name="product_category">
													<option value="">산출물 카테고리 선택</option>
													<option value="0">필수산출물</option>
													<option value="1">기타산출물</option>
												</select>
											</div>
											<div id="product_classify_space">
												<h1 class="text-gray-800" id="content_title" style="margin:2px;">산출물 분류</h1>
												<select class="form-control" id="product_classify"
														name="product_classify">
													<option value="">산출물 분류 선택</option>
													<option th:each="category : ${categoryList}" 
													th:value="${category.prod_classify_cd}" th:text="${category.prod_classify_status}"></option>
												</select>
											</div>
											<span class="text-gray-800" id="content_title_4">내용 </span>
											<span id="content_detail_4"> 
													<textarea class="form-control" id="product_detail" 
													name="product_detail" placeholder="세부내용" style="margin:5px 0px; height:60px;"></textarea>
											</span>
										</div>
										</form>
									</div>
						       </div>
						    </div>

						<!-- End of Tab 1-2 Content -->	   
						
						<!-- Tab 1-3 Content -->

						<div role="tabpanel" id="tab-1-3" class="tab-pane">
						   <div class="panel-body">
						       <div class="card shadow mb-4" style="height:320px">
						           <div class = "card-body">
									   <div id="showLog">
								       </div>
								    </div>
						        </div>
						    </div>
						 </div>			
						 
						<!-- End of Tab 1-3 Content -->	   
						<!-- Tab 1-4 Content -->

						<div role="tabpanel" id="tab-1-4" class="tab-pane">
						   <div class="panel-body">
						       <div class="card shadow mb-4" style="height:320px;">
						           <div class = "card-body">
									<table class="table table-bordered"
										style=" font-size:10px; height:50px; margin-bottom:2px; width:100px;">
											<col width="10%">
											<col width="45%">
											<col width="45%">
										<thead align="center" style="height:10px; width:100px; padding:0px;">
											<tr>
												<th></th>
												<th>기안자</th>
												<th>승인자</th>
											</tr>
										</thead>
										<tfoot align="center" style="height:10px; width:100px; padding:0px;">
											<tr>
												<th></th>
												<th><span id="emp_name"></span></th>
												<th><span id="approver"></span></th>
											</tr>
										</tfoot>
										<tbody align="center" style="padding:0px; width:100px;">
											<tr>
												<td style="font-weight:bold;">결<br><br>제</td>
												<td><i class="fas fa-signature fa-4x"></i></td>
												<td><span id="sign"></span></td>
											<tr>
										</tbody>
									</table>
									
									<table class="table table-bordered" id="dataTable" 
										style="width:300px; height:50px; font-size:10px; margin:0px;">
											<col width="30%">
											<col width="70%">
											<tr>
												<th align="center">기안자</th><td><span id="emp_name"></span></td>
											</tr>
											<tr>
												<th align="center">기안일</th><td><span id="approval_reg_dt"></span></td>
											</tr>
											<tr>
												<th align="center">작업번호</th><td><span id="task_pk"></span></td>
											</tr>
									</table>
						           </div>
						       </div>
						    </div>
						 </div>		
						 
						<!-- End of Tab 1-4 Content -->	   		 
					</div>             
                </div>
            </div>
        </div>
    </div>      
    
   	<!-- end of modal contents -->
   	
	<script type="text/javascript">
	$(document).ready(function(){	
		// custom-file-input custom-file-label
		
		$(".custom-file-input").on("change",function(){
			$(this).next(".custom-file-label").text($(this).val());
		});
	});
	function formatDate(date) { 
		var d = new Date(date), 
		month = '' + (d.getMonth() + 1), 
		day = '' + d.getDate(), 
		year = d.getFullYear(); 
		if (month.length < 2) month = '0' + month; 
		if (day.length < 2) day = '0' + day; 
		return [year, month, day].join('-'); 
	};

	function taskDetail (task_pk){
		$.ajax({
			type:"get",
			url:"/approvalDetail",
			data:"task_pk="+task_pk,
			dataType:"json",
			contentTyle: "application/json; charset=utf-8",
			success:function(data){
				$(".callModal").click();
				var task = data;
				$("#tab-1-1 #task_pk").val(task[0].task_pk);
				$("#tab-1-1 #approval_cd_pk").val(task[0].approval_cd_pk);
				$("#tab-1-1 #task_nm").val(task[0].task_nm);
				$("#tab-1-1 #start_dt").val(formatDate(task[0].task_start_dt));
				$("#tab-1-1 #comp_dt").val(formatDate(task[0].task_comp_dt));
				$("#tab-1-1 #task_progress").val(task[0].task_progress*100);
				$("#tab-1-1 #task_approver option:eq(0)").text(task[0].task_approver);
				$("#tab-1-1 #task_approver");
				$("#tab-1-1 #task_description").val(task[0].task_description);
				$("#tab-1-4 #emp_name").text(task[0].emp_name);
				$("#tab-1-4 #approval_reg_dt").text(formatDate(task[0].approval_reg_dt));
				$("#tab-1-4 #task_pk").text(task[0].task_pk);
				if (task[0].approval_status == 1) {
					$("#tab-1-4 #approver").text(task[0].task_approver);
					$("#tab-1-4 #sign").html("<i class='fas fa-signature fa-4x'></i>");
				}
			},
			error:function(err){
				console.log(err);
			}
		});
		$.ajax({
			type:"get",
			url:"/productDetail_task",
			data:"task_pk="+task_pk,
			dataType:"json",
			contentTyle: "application/json; charset=utf-8",
			success:function(data){
				var prod = data;
				if (prod.length<=0){
					$("#tab-1-2 #attach_nm").text("첨부파일 없음");
					$("#tab-1-2 #product_category").val("");
					$("#tab-1-2 #product_classify").val(0);
					$("#tab-1-2  #product_detail").val("");
				}
				$("#tab-1-2 #attach_nm").text(prod[0].attach_nm);
				$("#tab-1-2 #product_category").val(prod[0].prod_category_cd);
				$("#tab-1-2 #product_classify").val(prod[0].prod_classify_cd);
				$("#tab-1-2  #product_detail").val(prod[0].prod_detail);

				$("#tab-1-2 #product_category").on("change",function(){
					 if ($("#tab-1-2 #product_category").val() == '1'){
					 	$("#tab-1-2 #product_classify_space").css("visibility", "hidden");
					 	$("#tab-1-2 #product_classify").val() == '';
					}else{					 
					 	$("#tab-1-2 #product_classify_space").css("visibility", "visible");			
					 	$("#tab-1-2 #product_classify").val(prod[0].product_classify);
					}
				});
			},
			error:function(err){
				console.log(err);
			}
		});	

		$.ajax({
			type:"get",
			url:"/taskLog",
			data:"task_pk="+task_pk,
			dataType:"json",
			contentTyle: "application/json; charset=utf-8",
			success:function(data){
				var log = data;
				var show = "";
				for (var idx = 0; idx<log.length; idx++) {
					if (log[idx].task_log_category==0) {
						show+="<div class='history_space'><div class='btn btn-secondary' id='created'>"
						+"작업생성</div><span class='text-gray-800' id='content_detail'>　　"+log[idx].task_log_writer
						+"　("+formatDate(log[idx].task_log_dt)+")</span></div>";
					}else{
						show+="<div class='history_space'><div class='btn btn-success' id='modified'>"+
						"작업수정</div><span class='text-gray-800' id='content_detail'>　　"+log[idx].task_log_writer　
						+"　("+formatDate(log[idx].task_log_dt)+")</span></div>";
					}
				}
				$("#tab-1-3 #showLog").html(show);
			},
			error:function(err){
				console.log(err);
			}
		});

	}
	
	function cancelRequest (task_pk, approval_status){
		if(confirm("승인요청을 취소하겠습니까?")){
			if(approval_status == 1) {
				alert("이미 완료된 승인은 취소할 수 없습니다.");
			}else{
			$.ajax({
				type:"get",
				url:"/cancelRequest",
				data:"task_pk="+task_pk,
				dataType:"json",
				contentTyle: "application/json; charset=utf-8",
				success:function(data){
					location.reload();
				},
				error:function(err){
					console.log(err);
				}
			});
			}
		}

	}

	$("#product_category").on("change",function(){
		 if ($("#product_category").val() == '1'){
		 	$("#product_classify_space").css("visibility", "hidden");
		 	$("#product_classify").val() == '';
		}else{					 
		 	$("#product_classify_space").css("visibility", "visible");			
		}
	});	
/* 	
	 $("#task_product").on("change",function(){
		 if ($("#task_product").val() == '0'){
		 	$("#task_product_cateroty").attr("disabled", true);
	 	}else  {
		 	$("#task_product_cateroty").attr("disabled", false);
	 	}
	 }); */
	 
		function project_task () {
			var project_pk = $('#project_nm option:selected').val();
			console.log(project_pk);
			$.ajax({
				type:"post",
				url:"/projecttask",
				data:"project_pk="+project_pk,
				dataType:"json",
				contentTyle: "application/json; chdarset=utf-8",
				success:function(data){
					var task = data;
					console.log(task);
					console.log(task.length);
					var show = "<option>테스크선택</option>";
					for (var idx = 0; idx<task.length; idx++) {
						console.log(task[idx].task_nm);
						show+="<option value="+task[idx].task_pk+">"+task[idx].task_nm+"</option>";		
					}
					$("#task_nm").html(show);	
				},
				error:function(err){
					console.log(err);
				}
			});		
		}   
	</script>
</body>
</html>